@model IEnumerable<project_prn231.Models.Question>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách câu hỏi</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
                    .list-group{
                    padding-right:500px;

                }
                </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Danh sách câu hỏi</h1>
        <form method="post" action="@Url.Action("Submit", "Exam")">
            <input type="hidden" name="categoryId" value="@Model.First().PkCategoryId" />

            <div class="row">
                @{
                    int count = 1;
                }
                @foreach (var question in Model)
                {
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title"> @count: @question.QuestionText</h5>
                                @if (!string.IsNullOrEmpty(question.QuestionImage))
                                {
                                    <img src="@question.QuestionImage" alt="Hình ảnh câu hỏi" class="img-fluid" style="max-width: 200px; max-height: 200px;">
                                }

                                <h6 class="mt-3">Các câu trả lời:</h6>
                                <ul class="list-group">
                                    @foreach (var answer in question.Answers)
                                    {
                                        <li class="list-group-item">
                                            <input type="checkbox" name="selectedAnswers" value="@answer.AnswerId" />
                                            @answer.AnswerText
                                           
                                            @if (!string.IsNullOrEmpty(answer.AnswerImage))
                                            {
                                                <img src="@answer.AnswerImage" alt="Hình ảnh câu trả lời" class="img-fluid" style="max-width: 100px;">
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    count++;
                }
            </div>
            <button type="submit" class="btn btn-primary">Nộp bài</button>
            <a href="/" class="btn btn-secondary">Trở về</a>
        </form>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
